.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #181a1d;
  border: dashed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #32798d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  text-decoration: underline;
}

.quote{
  font-style: italic;
  font-size: 20px;
  border: rgb(255, 255, 255) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
}

.author{
  font-style: italic;
  font-size: 20px;
  border: rgb(255, 255, 255) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
}

.tag{
  font-style: italic;
  font-size: 20px;
  border: rgb(255, 255, 255) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
}

.generator{
  font-style: bold;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: rgb(255, 255, 255) 1px solid;
  padding: 0.75rem;
  transition: transform 0.2s ease;
  border-radius: 15px;
}
.generator:active{
  transform: scale(0.80);
}