.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e2125;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#input1{

  margin-left: 10%;
  margin-top: 0%;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0x;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 350px;
}

#minor{
  background-color: rgb(17, 177, 201);
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify ;
}

#submit1{
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 2%;
  padding-left: 2%;
  margin-left: 50%;
  width: 10%;
  border-radius: 50px;
  padding: 12px 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin-left: 610px;
}

#major{
  background-color: darkcyan;
}

#count1{
  background-color: aquamarine;
  text-align: center;
  border-radius: 50px;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: medium;
  font-weight:bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  margin-left: 5%;
  margin-top: 3.5%;
}
#todo1{
  text-align: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: xx-large;
  font-weight:bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}